
/* ==========================================================================
   #comverse style-guide
   ========================================================================== */

.sg-body {
	background: #95a5a6;
}

.sg-wrapper {
	margin-bottom: 30px;
}

.sg-inner-wrapper {
	height: 200px;
}

.blue {
	background: #59bedb;
}

.sg-footer {
	background: #000;
	padding-left: 20px;
}

.sg-heading {
	color: #2c3e50;
	border-bottom: 1px solid #2c3e50;
	margin-top: 50px;
	font-weight: 300;
	text-transform: uppercase;
}

h1.sg-heading {
	font-size: 2.2em;
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

h2.sg-heading  {
	font-size: 1.3em;
}

h3.sg-heading,
h4.sg-heading {
	text-transform: lowercase;
	border-bottom: 0;
	margin: 10px 0;
}

h3.sg-heading  {
	font-size: 1em;
}

h4.sg-heading  {
	font-size: 0.8em;
}
